
<div style="background-image: url(<%= asset_path 'm.jpg' %>)" class="jumbotron bg-cover text-white">
  <div class="container py-5 text-center">
    <h1 class="display-4 font-weight-bold">Autotrader</h1>
    <p class="font-italic mb-0">Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.</p>

    </a>
    </p>
    <%= link_to "See All Features", "/autotrader/see", class:"btn btn-primary px-5" %></li>

  </div>
</div>
</div>
<div style="background: url(<%= asset_path 'r.jpg' %>)" class="page-holder bg-cover">

  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">Autotraders</h1>
      <p class="lead mb-0">This site is use for sale new and used cars</p>
    </header>

    <div class="text-white">

    </div>
  </div>
  <section class="py-5">
    <div class="container">
      <!-- FOR DEMO PURPOSE -->
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <header class="text-center pb-5">


          </header>
        </div>
      </div><!-- END -->


      <div class="row">
        <div class="col-lg-6 mx-auto">

          <!-- CUSTOM BLOCKQUOTE -->
          <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
            <p class="mb-0 mt-2 font-italic">"I've actually made a prediction that within 30 years a majority of new cars made in the United States will be electric. And I don't mean hybrid, I mean fully electric." <a href="#" class="text-info">@consequat</a>."</p>
            <footer class="blockquote-footer pt-4 mt-4 border-top">Elon Musk
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote><!-- END -->

        </div>
      </div>
    </div>
  </section>



</div>





</body>
</html>
